In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats import weightstats as stests
import statsmodels.api as sm

In [2]:
# Load Dataset
cutlets_data = pd.read_csv(r'C:\Users\Manasi Gokhale\OneDrive\Desktop\Assignments(Data Science)\Hypothesis Testing\Cutlets.csv')

In [3]:
cutlets_data.shape

(35, 2)

In [4]:
cutlets_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [5]:
cutlets_data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [6]:
unit_a = cutlets_data['Unit A']
unit_b = cutlets_data['Unit B']

In [7]:
#Applying ztest from statsmodels.stats, weightstats
# This will return two values, 1) ztest vaue, 2)p_value
ztest, pvalue = stests.ztest(x1 = unit_a, x2=unit_b, value=0,alternative='two-sided')

In [8]:
# significance level given is α = 0.05
pvalue = float(pvalue)
α = 0.05

print("P-value: ", pvalue)

if pvalue <= α:
    print("Rejecting null hypothesis")
    print("Conclusion: There is significant difference in diameters of cutlets between two units")
else:
    print("Fail to reject null hypothesis")
    print("Conclusion: There is no significant difference in diameters of cutlets between two units")

P-value:  0.46976045023906055
Fail to reject null hypothesis
Conclusion: There is no significant difference in diameters of cutlets between two units