In [1]:
# Import libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
# Load Dataset
libtat_data = pd.read_csv(R'C:\Users\Manasi Gokhale\OneDrive\Desktop\Assignments(Data Science)\Hypothesis Testing\LabTAT.csv')

In [3]:
libtat_data.shape

(120, 4)

In [4]:
libtat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [5]:
libtat_data.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [6]:
lab1 = libtat_data['Laboratory 1']
lab2 = libtat_data['Laboratory 2']
lab3 = libtat_data['Laboratory 3']
lab4 = libtat_data['Laboratory 4']

In [7]:
#Applying ANOVA Ftest statistics
import scipy.stats as stats
α = 0.05

f_test, pvalue = stats.f_oneway(lab1, lab2, lab3, lab4)

print("P-value: ", pvalue)

if pvalue <= α:
    print("Rejecting null hypothesis")
    print("Conclusion:  Atleast one sample TAT population mean is different")
else:
    print("Fail to reject null hypothesis")
    print("Conclusion: All samples TAT population means are same")

P-value:  2.1156708949992414e-57
Rejecting null hypothesis
Conclusion:  Atleast one sample TAT population mean is different